<main class="landing">
  <div class="grid grid-nogutter surface-section text-800">
    <div
      class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
    >
      <section>
        <span class="block text-6xl font-bold mb-1">Get Active!</span>
        <div class="text-6xl text-primary font-bold mb-3">
          Sign up for your local league here.
        </div>
        <p class="mt-0 mb-4 text-700 line-height-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
      <img
        src="https://via.placeholder.com/100"
        alt="placeholder"
        class="md:ml-auto block md:h-full"
      />
    </div>
  </div>
</main>

