<main class="landing">
  <div class="landing-intro">
    <h1>Get Active!</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur omnis
      soluta hic mollitia velit debitis sed, fuga, nihil quo sint iure quidem
      neque, doloribus vero animi officia magni veritatis recusandae.
    </p>
    <button type="button">Button</button>
  </div>
  <section class="col">
    <div>
      <img src="http://placehold.it/500x300" alt="placeholder" />
      <h2>City</h2>
    </div>
  </section>
  <section class="col">
    <div>
      <img src="http://placehold.it/500x300" alt="placeholder" />
      <h2>City</h2>
    </div>
  </section>
  <section class="col">
    <div>
      <img src="http://placehold.it/500x300" alt="placeholder" />
      <h2>City</h2>
    </div>
  </section>
  <div class="landing-ending">
    <h1>new Cities coming soon</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur omnis
      soluta hic mollitia velit debitis sed, fuga, nihil quo sint iure quidem
      neque, doloribus vero animi officia magni veritatis recusandae.
    </p>
    <button type="button">Button</button>
  </div>
</main>
