<body class="landing-body">
  <div class="landing-wrapper">
      <!-- <div class="landing-header">
          <div class="landing-header-content clearfix">
              <img src="../layout/images/logo.png" width="113">

              <a id="menu-button" href="#">
                  <img src="../layout/images/landing/landing-menu-icon.svg">
              </a>
              <ul id="menu">
                  <li><a href="#">Home</a></li>
                  <li><a href="#introduction">Introduction</a></li>
                  <li><a href="#features">Features</a></li>
                  <li><a href="#mobile">Mobile</a></li>
                  <li><a href="#league">league</a></li>
                  <li><a href="#video">Video</a></li>
              </ul>
          </div>
      </div> -->

      <div id="introduction">
          <div class="introduction-content">
              <span class="title">G.A.</span>
              <span class="subtitle">Welcome to the Get Active lifestyle! </span>
          </div>
      </div>

      <div id="league">
          <div class="league-content">
              <span class="league-title">Leagues Available</span>
              <p>Cities that we provide Flag Football programs.</p>

              <div class="grid">
                  <div class="col-12 md:col-4">
                      <div class="league-basic league-box">
                          <span class="league-name">New York</span>
                          <div class="league-fee"></div>
                      </div>
                  </div>

                  <div class="col-12 md:col-4">
                      <div class="league-standard league-box">
                          <span class="league-name">Atlanta</span>
                          <div class="league-fee"></div>
                      </div>
                  </div>

                  <div class="col-12 md:col-4">
                      <div class="league-professional league-box">
                          <span class="league-name">Miami</span>
                          <div class="league-fee"></div>
                      </div>
                  </div>
              </div>
              <a routerLink="Leagues" class="p-button" type="button" role="button" aria-disabled="false" (click)="btnClick();">
                <span class="p-button-text">Register your team now!</span>
              </a>
          </div>
      </div>

      <!-- <div class="landing-footer">
          <div class="landing-footer-content">
              <div class="footer-top">
                  <div class="grid">
                      <div class="col-6">
                          <img src="../../assets/pictures/favicon-32x32.png">
                          <p>Get Active</p>
                      </div>
                      <div class="col-6">
                          <ul>
                            <li><a href="#league">Leagues</a></li>
                            <li><a href="#members">Members</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#introduction">Introduction</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="footer-bottom">
                  All Rights Reserved
              </div>
          </div>
      </div> -->
  </div>

