
ul {
  list-style-type: none;
  background-color: #7C0A02;
  height: 2.25em;
  margin-top: 0;
  padding-top: 1em;
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
 }

 li {
  display:inline;
  background-position: right center;
  padding-right: 1.45em;
  padding-left: .45em;
  cursor: pointer;
  font-weight: 700;
 }

 @media (max-width: 444px) {
  ul {
  height: auto;
  flex-direction:column;
  margin: 0;
  padding: 0;
  }
 }
