<div class="card">
  <h5>Register</h5>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="formgrid grid">
    <div class="field col-12 md:col-6">
      <label for="GroupName">GroupName</label>
      <input
        id="GroupName"
        type="text"
        formControlName="GroupName"
        class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <div class="field col-12 md:col-6">
      <label class="form-label" for="OrganizationName">OrganizationName</label>
      <input
        id="OrganizationName"
        type="text"
        formControlName="OrganizationName"
        class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <div class="field col-12 md:col-6">
      <label class="form-label" for="SponsorName">SponsorName</label>
      <input
        id="SponsorName"
        type="text"
        formControlName="SponsorName"
        class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <div class="field col-12 md:col-6">
      <label class="form-label" for="SponsorEmail">SponsorEmail</label>
      <input
        id="SponsorEmail"
        type="email"
        formControlName="SponsorEmail"
        class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <div class="field col-12 md:col-3">
      <label class="form-label" for="MaxGroupSize">MaxGroupSize</label>
      <input
        id="MaxGroupSize"
        type="number"
        formControlName="MaxGroupSize"
        class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <div class="field col-12 md:col-3">
      <label class="form-label" for="SponsorPhone">SponsorPhone</label>
      <input
        id="SponsorPhone"
        formControlName="SponsorPhone"
        type="text"
        class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <div class="field col-12 md:col-3">
      <button type="submit" pButton pRipple label="Primary" class="p-button-raised">submit</button>
    </div>
  </form>
</div>
